<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Page Not Found | Styven Manaja</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">Styven Manaja</h1>
      <nav>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="not-found">
    <div class="container">
      <h2>404 - Page Not Found</h2>
      <p>Oops! Looks like this page doesn’t exist.</p>
      <p> Let’s get you back <a href="/">home</a>.</p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>© 2025 Styven Manaja. All rights reserved.</p>
      <div class="socials">
        <a href="https://github.com/StyvenManaja" target="_blank">GitHub</a>
        <a href="https://upwork.com/freelancers/~01bd4393288d78a549" target="_blank">Upwork</a>
        <a href="https://www.linkedin.com/in/manaja-styven-ranaivoson-274484355" target="_blank">LinkedIn</a>
      </div>
    </div>
  </footer>
</body>
</html>
