<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Back-end developer specializing in Node.js and APIs">
  <title>Blog | Styven Manaja</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
</head>
<body>
  <header>
    <div class="container header-container">
      <h1 class="logo">Styven Manaja</h1>
      <nav>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="services blog">
    <div class="container">
      <h2>From Code to Content 🧠</h2>
      <p>Here are my blog posts, where I share insights, struggles, back-end development tips, and more.</p>
      
      <div class="blog-list">
        <% let posts = postList %>
        <% for(post of posts) { %>
          <div class="service-item">
            <a href="/blog/<%= post.id %>">
              <h3><%= post.title %></h3>
              <p>Read the article →</p>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>© 2025 Styven Manaja. All rights reserved.</p>
      <div class="socials">
        <a href="https://github.com/StyvenManaja" target="_blank">GitHub</a>
        <a href="https://upwork.com/freelancers/~01bd4393288d78a549?mp_source=share" target="_blank">Upwork</a>
        <a href="https://www.linkedin.com/in/manaja-styven-ranaivoson-274484355" target="_blank">LinkedIn</a>
      </div>
    </div>
  </footer>
</body>
</html>
